node_modules
.env
build
firebase-key.json

# Ignora scripts locais de teste
**/pegarToken.ts

# Arquivos dinâmicos gerados pelo servidor e banco de dados
database/placares_ao_vivo.json
database/versao_tabela.json

# Arquivos de backup
*V0.0.json